.logo {
  width: 500px;
  height: 200px;
  background: url("../images/logo.png") center center no-repeat;
  margin: 0 auto;
}

.img {
  width: 200px;
  height: 500px;
  background: url("../images/test.jpg") center center no-repeat;
  border-radius: 5px;
  transform: translate(30px, 30px)
}