html,body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #333;
}
.box {
  width: 300px;
  height: 200px;
  background: url("../images/git-guide.jpg") center center no-repeat;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
  transform: scale(50%, 50%);
}

#aaaa {
  color: red;
}